<!DOCTYPE html>
<html>
<head>
    <title>WoWash</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body style="overflow-x: hidden;">
<div class="row ">
    <div class="col-md-2 side_nav">
        <img src="https://image.ibb.co/f9Cqcn/Whats_App_Image_2018_03_04_at_14_02_19.jpg" class="nide_nav--image">
        <br>
        <p class="side_nav-name">Jay Smith</p>
        <p class="side_nav-task">Scheduled Washes</p>

    </div>
    <div class="col-md-10 main_container">
        <div class="container">
            <div class="row main_container--task">
                <div class="col-md-4">
                    <p class="main_container--text">Pick Up Time</p>
                    <p class="main_container--text">Pick Up Address</p>
                    <p class="main_container--text">Drop Off Address</p>

                </div>
                <div class="col-md-4">
                    <p class="main_container--text">Drop Off Time</p>
                    <label>
                        <select name="options">
                            <option value="volvo">Washer</option>
                            <option value="option">Option 1</option>
                            <option value="option2">Option 2</option>
                            <option value="option3">Option 3</option>
                        </select>
                    </label>

                </div>
                <div class="col-md-4">
                    <p class="main_container--text">Wash Preferences</p>
                    <label>
                        <textarea></textarea>
                    </label>
                    <span class="main_container--text">Status:  </span>

                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary btn-sm">P/U</button>
                        <button type="button" class="btn btn-secondary btn-sm">Wash</button>

                        <button type="button" class="btn btn-secondary btn-sm">D/O</button>
                        <button type="button" class="btn btn-secondary btn-sm">Late</button>
                    </div>
                    <br><br>
                </div>

            </div>
            <br><br>
            <div class="row main_container--task">
                <div class="col-md-4">
                    <p class="main_container--text">Pick Up Time</p>
                    <p class="main_container--text">Pick Up Address</p>
                    <p class="main_container--text">Drop Off Address</p>

                </div>
                <div class="col-md-4">
                    <p class="main_container--text">Drop Off Time</p>
                    <label>
                        <select name="options">
                            <option value="volvo">Washer</option>
                            <option value="option">Option 1</option>
                            <option value="option2">Option 2</option>
                            <option value="option3">Option 3</option>
                        </select>
                    </label>

                </div>
                <div class="col-md-4">
                    <p class="main_container--text">Wash Preference</p>
                    <label>
                        <textarea></textarea>
                    </label>
                    <span class="main_container--text">Status:  </span>

                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary btn-sm">P/U</button>
                        <button type="button" class="btn btn-secondary btn-sm">Wash</button>

                        <button type="button" class="btn btn-secondary btn-sm">D/O</button>
                        <button type="button" class="btn btn-secondary btn-sm">Late</button>
                    </div>
                    <br><br>


                </div>

            </div>
            <br><br>
            <div class="row main_container--task">
                <div class="col-md-4">
                    <p class="main_container--text">Pick Up Time</p>
                    <p class="main_container--text">Pick Up Address</p>
                    <p class="main_container--text">Drop Off Address</p>

                </div>
                <div class="col-md-4">
                    <p class="main_container--text">Drop Off Time</p>
                    <label>
                        <select name="options">
                            <option value="volvo">Washer</option>
                            <option value="option">Option 1</option>
                            <option value="option2">Option 2</option>
                            <option value="option3">Option 3</option>
                        </select>
                    </label>

                </div>
                <div class="col-md-4">
                    <p class="main_container--text">Wash Preference</p>
                    <label>
                        <textarea></textarea>
                    </label>
                    <span class="main_container--text">Status:  </span>

                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary btn-sm">P/U</button>
                        <button type="button" class="btn btn-secondary btn-sm">Wash</button>

                        <button type="button" class="btn btn-secondary btn-sm">D/O</button>
                        <button type="button" class="btn btn-secondary btn-sm">Late</button>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>